<html>
<head>
  <title>Is This Thing Working?</title>
  <script type="text/javascript" src="javascripts/latAndLong.js" ></script>
  <script type="text/javascript" src="javascripts/dateTime.js" ></script>
  <script type="text/javascript" src="javascripts/app.js" ></script>
</head>
<body>

<h1>Look Up!</h1>

</body>
</html>
