<h1>Look Up!</h1>

<div class='key'>
<ul>
<li class="user-li"><span>You Are Here</span></li>
<li class="mercury-li"><div class='mercury key-item'></div><span>Mercury</span></li>
<li class="venus-li"><div class='venus key-item'></div><span>Venus</span></li>
<li class="mars-li"><div class='mars key-item'></div><span>Mars</span></li>
<li class="jupiter-li"><div class='jupiter key-item'></div><span>Jupiter</span></li>
<li class="saturn-li"><div class='saturn key-item'></div><span>Saturn</span></li>
</ul>
</div>
