<!DOCTYPE html>
<html>
<head>
  <title>Look Up!</title>

  <script type="text/template" class="planet-template">
    <strong><%%- name %></strong> is visible from <%%- rise %> - <%%- set %> today.
    (ra: <%%- ra %>, dec: <%%- dec %>, mag: <%%- mag %>, phase: <%%- phase %>, size: <%%- size %>, transit: <%%- transit %>)
  </script>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

</head>
<body>

<%= yield %>

</body>
</html>
